
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text"
                        id="username" 
                        placeholder="Enter username"
                        autocomplete="off"
                        ng-model="data.regUsername" 
                        ng-keyup="initiateCheckUserName()" 
                        ng-keydown="clearCheckUserName()"
                        class="form-control input_user"/>
                    </div>
                    <div ng-show='data.usernameAvailable'>
                        <br>
                        <div class="alert alert-danger" role="alert">
                            <strong>{{ data.regUsername }}</strong> Username is already taken.
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="" class="form-control input_pass"
                        id="reg-password" 
                        placeholder="Enter password"
                        ng-model="data.regPassword">
                    </div>
                    
                        <div class="d-flex justify-content-center mt-3 login_container">
                 <button type="button" name="button" class="btn login_btn" ng-click="registerUser()">Register</button>
               </div>
                </form>
            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Back to <a href="/" class="ml-2">Login</a>
                </div>
                
            </div>
        </div>
    </div>
</div>